html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: gold;
  border: none;
  background-color: rebeccapurple;
  border-radius: 10px;
}

button:hover {
  background-color: mediumpurple;
  cursor: pointer;
}

button:disabled {
  background-color: darkblue;
  cursor: not-allowed;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}
